{% extends "header.html" %} {% load static %} {% block nav %}
<style>
    p{
        color:black;
    }
</style>
<script>
    function changeLoc(e){
        if(e)
            location.href="/login"
        else
            location.href="/register"
    }
</script>
<body>
    <section class="section-1">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <img src="{% static 'images/Logo-1.png' %}" alt="logo" width="60" />
                    <a class="navbar-brand" href="#"> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active ps-5" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item ps-5">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item ps-5">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                        </ul>
                    </div>
                    <button class="sign__up p-2 px-4 py-2 mx-5 my-2" onclick="changeLoc(false)">Sign Up</button>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 mt-5 pt-5 ps-5 ms-5">
                    <h2 class="title">Smart banking for freelancers</h2>
                    <p class="content">
                        Draft is a revolutionary mobile app built to help you manage your
                        busniess easily and save your money
                    </p>
                    <button type="button" class="reg mt-2 px-4 py-2 shadow" onclick="changeLoc(true)">
                        Register Now
                        <img src="{% static 'images/Arrow-Right 1.png' %}" alt="arrow" height="25px" />
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'images/image 1.png' %}" alt="phone" class="phone" width="600px" />
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row justify-content-center">
            <div style="margin-top: 100px" class="col-lg-4 col-md-5 col-sm-12 pt-5 ps-5 ms-5">
                <h1 class="title-2">One card for all your payments</h1>
                <p class="content-2">
                    Get 3% back on everything you buy <br />
                    with the Draft card. Register today and <br />
                    enjoy aspect of your business
                </p>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 mt-5 pt-5 ms-5 ps-5">
                <img src="{% static 'images/Credit Card.png' %}" alt="Credit Card" width="500px" />
            </div>
        </div>
        <div style="margin-top: 100px" class="row">
            <div class="col-lg-6 col-md-5 col-sm-8 pt-5 ps-5 ms-5">
                <img src="{% static 'images/Charts Section.png' %}" alt="Chart" width="450px" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mt-5 pt-5 ms-5 ps-5">
                <h1 class="title-3">Manage your finances like a pro in no time</h1>
                <p class="content-3">
                    With Draft, book keeping, banking, and invoices are all in one
                    place. You will always know where you stand
                </p>
                <button type="button" class="reg mt-2 px-4 py-2 shadow">
                    Learn More
                    <img src="{% static 'images/Arrow-Right 1.png' %}" alt="arrow" height="25px" />
                </button>
            </div>
        </div>
        <div style="margin-top: 100px" class="row justify-content-center">
            <!-- <div>
          <img src="{% static 'images/BG.png' %}" alt="BG" style="z-index: 2" />
        </div> -->
            <div class="section-2 col-lg-6 col-md-6 col-sm-12 mt-5 pt-5 ms-5 ps-5">
                <h1 class="title-4">
                    We support you <br />
                    in 5 different <br />
                    laguages
                </h1>
                <p class="content-4">
                    Our support team is there to help you in 5 <br />
                    different laguages - English, French,<br />
                    Spanish, Portuguese and German.
                </p>
                <img src="{% static 'images/Profile Images.png' %}" alt="Profile" />
                <span>+20</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-5 pt-5 ms-4 ps-4">
                <img src="{% static 'images/Messages.png' %}" alt="Messages" width="300px" />
            </div>
        </div>
    </section>
    <section style="margin-top: 100px">
        <div class="text-center bg-2">
            <div class="container">
                <h2>
                    <span style="color: #554dde">An exceptional service,</span>
                    <span style="color: #f44e77">at the right price</span>
                </h2>
                <p class="content-2">
                    Start with our free plan and switch to premium as you grow
                </p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
                <div style="background-color: white; border-radius: 40px" class="p-5 shadow text-center rounder-3">
                    <h3>Free</h3>
                    <p class="mt-5">
                        <span style="font-weight: 500" class="fs-1">$0</span>
                        <span class="fs-4">/m</span>
                    </p>
                    <p class="content-2">
                        Manage your business with a simple and efficient account
                    </p>
                    <button class="btn btn-card">Get started</button>
                    <img src="{% static 'images/Credit Card-1.png' %}" alt="credit card" style="width: 100%" />
                    <img src="{% static 'images/Themes-1.png' %}" alt="theme" />
                    <ul class="feature-list mt-5" style="list-style: none">
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />10
                            free local transfers
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />24*7 available
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Help & Support
                        </li>
                        <li class="text-start" style="filter: grayscale(100%); opacity: 0.9">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Easily Open Account
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Flexible Facilities
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Deposit option
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Proceed option
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Easily transfer amount
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="background-color: white; border-radius: 40px" class="p-5 shadow text-center rounder-3">
                    <h3>Premium</h3>
                    <p class="mt-5">
                        <span style="font-weight: 500" class="fs-1">$10</span>
                        <span class="fs-4">/m</span>
                    </p>
                    <p class="content-2">
                        Priority support and muli user access to increase your
                        productivity
                    </p>
                    <button class="btn btn-card">Get started</button>
                    <img src="{% static 'images/Credit Card-2.png' %}" alt="credit card" style="width: 100%" />
                    <img src="{% static 'images/Themes-2.png' %}" alt="theme" />
                    <ul class="feature-list mt-5" style="list-style: none">
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />10
                            free local transfers
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Three month free plan
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />5+ device access
                        </li>
                        <li class="text-start" style="filter: grayscale(100%); opacity: 0.9">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Easy to handle
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Scalable
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Access with Laptop
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Traditional System
                        </li>
                        <li class="text-start">
                            <img src="{% static 'images/Check-icon 1.png' %}" height="24" alt="" />Execute Everywhere
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section style="margin-top: 200px">
        <div class="text-center">
            <div class="container">
                <h2>
                    <span style="color: #554dde; font-weight: 700">Frequently</span>
                    <span style="color: #f44e77; font-weight: 700">asked questions</span>
                </h2>
                <p class="content-2 fs-5">
                    If you are not sure whether Draft is suitalbe for you or <br />
                    not, do not worry. We are here to explain everything you <br />
                    might want to know
                </p>
            </div>
        </div>
        <div style="margin-top: 100px" class="container">
            <div class="row justify-content-center">
                <p class="content-5 px-3 py-4 mt-2">
                    What is the difference between Draft and a Bank account ?
                </p>
                <p class="content-5 px-3 py-4 mt-2">Who can open a draft account ?</p>
                <p class="content-5 px-3 py-4 mt-2">
                    What if we withdraw money abroad ?
                </p>
                <p class="content-5 px-3 py-4 mt-2">
                    Can I cancel my subscription or switch to another account anytime ?
                </p>
                <p class="content-5 px-3 py-4 mt-2">
                    What happens if I withdraw more than $250 ?
                </p>
            </div>
        </div>
    </section>
    <section style="margin-top: 100px; margin-bottom: 100px; background-color: #dce2f0">
        <div class="container row justify-content-center" style="
          margin-top: 100px;
          margin-bottom: 100px;
          background-color: #dce2f0;
        ">
            <div class="bg-3 col-lg-4 col-md-4 col-sm-12 justify-content-evenly">
                <img src="{% static 'images/Logo-1.png' %}" alt="logo" width="130px" class="ps-5 pt-5" />
                <p class="copyright context-left ms-5 pt-3">
                    Copyright ©2021 Draft LLC. <br />
                    All rights reserved.
                </p>
            </div>
            <div style="margin-top: 50px" class="col-lg-2 col-md-2 col-sm-12">
                <a href="" class="links ms-5 ps-4 pt-5">Team</a>
                <br />
                <br />
                <a href="" class="links ps-4 ms-5 pt-5">Press</a>
                <br />
                <br />
                <a href="" class="links ps-4 ms-5 pt-5">Fees</a>
                <br />
                <br />
            </div>
            <div style="margin-top: 50px" class="col-lg-2 col-md-2 col-sm-12">
                <a href="" class="links ms-5 ps-4 pt-5">Service</a>
                <br />
                <br />

                <a href="" class="links ps-4 ms-5 pt-5">Projects</a>
                <br />
                <br />

                <a href="" class="links ps-4 ms-5 pt-5">Affiliate</a>
                <br />
                <br />
            </div>
            <div style="margin-top: 50px" class="col-lg-2 col-md-2 col-sm-12">
                <a href="" class="links ps-4 ms-5 pt-5">Terms of us</a>
                <br />
                <br />
                <a href="" class="links ps-4 ms-5 pt-5">Privacy Policy</a>
                <br />
                <br />
                <a href="" class="links ps-4 ms-5 pt-5">Contact us</a>
                <br />
                <br />
            </div>
        </div>
    </section>
</body>
{% endblock nav %}